{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BrainQuest</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <!-- {% if 'uid' in request.session %}

    {% endif %} -->
    <header>
        <nav class="navbar">
            <div class="logo-header">
                <i class="fa-solid fa-diamond"></i>
                <h4>BrainQuest</h4>
            </div>

            <ul class="nav-list">
                <li class="nav-item active">
                    <a href="#home">Início</a>
                </li>
                <li class="nav-item">
                    <a href="#games">Jogos</a>
                </li>
                <li class="nav-item">
                    <a href="#pontuation">Pontuação</a>
                </li>
                <li class="nav-item">
                    <a href="#code">Código</a>
                </li>
            </ul>

            <a href="{% url 'login' %}" id="small" class="btn-border" >
                Login
            </a>

            <button id="btn-mobile">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>

        <div id="menu-mobile">
            <ul id="nav-list-mobile">
                <li class="nav-item">
                    <a class="btn-border" href="#home">Início</a>
                </li>
                <li class="nav-item">
                    <a class="btn-border" href="#games">Jogos</a>
                </li>
                <li class="nav-item">
                    <a class="btn-border" href="#pontuation">Pontuação</a>
                </li>
                <li class="nav-item">
                    <a class="btn-border" href="#code">Código</a>
                </li>
            </ul>

            <a href="{% url 'login' %}" class="btn-default">
                Login
            </a>
        </div>
    </header>

    <main>
        <section id="home">
            <div class="cta">
                <h1 class="title">
                    Aprender jogando,<br>
                    evoluir brincando!
                </h1>

                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit ut aliquam, purus sit amet
                </p>

                <div class="cta-buttons">
                    <a href="{% url 'register' %}" class="btn-default">Jogar</a>
                    <a href="https://docs.google.com/document/d/1uDFXCm6yJDMwgim1j6KrTTz95PfgRzNnwNhvxbY4xIA/edit?usp=drivesdk" class="btn-border">
                        <i class="fa-regular fa-file"></i>
                        Ver documentação
                    </a>
                </div>
            </div>

            <div class="banner">
                <img src="{% static '..\static\images\main.svg' %}" alt="Principal" class="image">
            </div>

        </section>

        <section id="games">
            <div class="title-content">
                <h2 class="title-green">Jogos</h2>
                <p>Aproveite os jogos</p>
            </div>

            <div class="cards-games">

                <a href="{% url 'gameMemory' %}">
                    <div class="card-games" id="light">
                        <div class="title-col">
                            <h3 class="title-green">Jogo da</h3>
                            <h3 class="title-green">Memória</h3>
                        </div>
    
                        <div class="open-container">
                            <div class="open-green">
                                <i class="fa-solid fa-arrow-up"></i>
                            </div>
                            <p>Ver mais</p>
                        </div>
                    </div>
                </a>


                <a href="{% url 'gameLinguage' %}">
                    <div class="card-games" id="green">
                        <div class="title-col">
                            <h3 class="title-light">Descubra a</h3>
                            <h3 class="title-light">linguagem</h3>
                        </div>
    
                        <div class="open-container">
                            <div class="open-light">
                                <i class="fa-solid fa-arrow-up"></i>
                            </div>
                            <p>Ver mais</p>
                        </div>
                    </div>
                </a>

                <div class="card-games" id="green">
                    <div class="title-col">
                        <h3 class="title-dark">Jogo da</h3>
                        <h3 class="title-dark">Memória</h3>
                    </div>

                    <div class="open-container">
                        <div class="open-dark">
                            <i class="fa-solid fa-arrow-up"></i>
                        </div>
                        <p>Ver mais</p>
                    </div>
                </div>

                <div class="card-games" id="light">
                    <div class="title-col">
                        <h3 class="title-dark">Jogo da</h3>
                        <h3 class="title-dark">Memória</h3>
                    </div>

                    <div class="open-container">
                        <div class="open-green">
                            <i class="fa-solid fa-arrow-up"></i>
                        </div>
                        <p>Ver mais</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="pontuation">
            <div class="title-content">
                <h2 class="title-green">Pontuação</h2>
                <p>Veja em que nível você está<br>e compare com outros jogadores</p>
            </div>

            <div class="pontuation-container">
                <div class="pontuation-content">
                    <h1>5</h1>
                    <p>Nível</p>
                </div>

                <div class="divider-vertical"></div>
                
                <div class="pontuation-content">
                    <h1>9º</h1>
                    <p>Posição</p>
                </div>

                <div class="divider-vertical"></div>

                <div class="pontuation-content">
                    <h1>2.563</h1>
                    <p>Pontuação</p>
                </div>
            </div>

            <div class="positions">
                <div class="position">
                    <h2>01º</h2>
                    <p>Nome da pessoa</p>
                </div>
    
                <div class="position">
                    <h2>02º</h2>
                    <p>Nome da pessoa</p>
                </div>
    
                <div class="position">
                    <h2>03º</h2>
                    <p>Nome da pessoa</p>
                </div>
            </div>
        </section>

        <section id="code">
            <div class="title-content">
                <h2 class="title-green">Time</h2>
                <p>Veja quem projetou este projeto<br>e encontre o código fonte</p>
            </div>

            <div class="cards-team">
                <div class="card-team">
                    <div class="card-team-content">
                        <img src="{% static '..\static\images\avatar.png' %}" alt="Avatar">
                        <div class="card-team-col">
                            <i class="fa-brands fa-github"></i>
                            <h4>Daniel Lima</h4>
                            <p>Front-end, designer</p>
                        </div>
                    </div>
                    <div class="divider-dark"></div>
                    <p>Programador Front-end e desing UI e UX que desenvolve projetos em HTML, CSS, Javascript e React além de identidade visual e logotipos</p>
                </div>

                <div class="card-team">
                    <div class="card-team-content">
                        <img src="{% static '..\static\images\avatar.png' %}" alt="Avatar">
                        <div class="card-team-col">
                            <h4>Daniel Lima</h4>
                            <p>Front-end</p>
                        </div>
                    </div>
                    <div class="divider-dark"></div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores odio id facere ea.</p>
                </div>

                <div class="card-team">
                    <div class="card-team-content">
                        <img src="{% static '..\static\images\avatar.png' %}" alt="Avatar">
                        <div class="card-team-col">
                            <h4>Daniel Lima</h4>
                            <p>Front-end</p>
                        </div>
                    </div>
                    <div class="divider-dark"></div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores odio id facere ea.</p>
                </div>

                <div class="card-team">
                    <div class="card-team-content">
                        <img src="{% static '..\static\images\avatar.png' %}" alt="Avatar">
                        <div class="card-team-col">
                            <h4>Daniel Lima</h4>
                            <p>Front-end</p>
                        </div>
                    </div>
                    <div class="divider-dark"></div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores odio id facere ea.</p>
                </div>
            </div>

            <div class="code-container">
                <div class="code-content">
                    <h3>Aplicação open-source</h3>
                    <p>Esse aplicativo é de código aberto, acesse o git hub para saber mais</p>
                    <a href="https://github.com/deniellima/TCCGame" class="btn-default">
                        <i class="fa-brands fa-github"></i>
                        Ver no GitHub
                    </a>
                </div>
                <div class="code-image">
                    <img src="{% static '..\static\images\code.svg' %}" alt="Código" class="image">
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="navbar-footer">
            <div class="logo-footer">
                <i class="fa-solid fa-diamond"></i>
                <h4>BrainQuest</h4>
            </div>
            <ul class="nav-list-footer">
                <li class="nav-item-footer">
                    <a href="#home">Início</a>
                </li>
                <li class="nav-item-footer">
                    <a href="#games">Jogos</a>
                </li>
                <li class="nav-item-footer">
                    <a href="#pontuation">Pontuação</a>
                </li>
                <li class="nav-item-footer">
                    <a href="#team">Código</a>
                </li>
            </ul>
        </div>

        <div class="divider-horizontal"></div>
        <div class="policy">
            <p>© 2024 BrainQuest. Todos os direitos reservados.</p>
            <a href="{% url 'privacy' %}">Política de privacidade</a>
        </div>
    </footer>

    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>