{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/userForgot.css' %}">
</head>

<body>
    <!-- Navegation -->
    <div class="nav-container" id="nav-container">
        <a id="back" onclick="history.back()">
            <i class="iconoir-arrow-left" id="icon"></i>
        </a>
    </div>

    <div class="container">
        <form autocomplete="off" action="{% url 'forgotPassword' %}" method="post">
            {% csrf_token %}

            <h4>Esqueceu a senha?</h4>

            <div class="input-section">
                <label>Email <span class="required-color">*</span></label>
                <input type="email" placeholder="Informe seu email" id="email" required />
                <span id="email-error" class="hide required-color error-message">Email inválido</span>
                <span id="empty-email" class="hide required-color error-message">Campo obrigatório</span>
            </div>

            <button class="primaryButton" id="submit-button">Recuperar senha</button>
        </form>
    </div>

    <script src="{% static 'js/userForgot.js' %}"></script>
</body>

</html>