{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conta</title>
    <link rel="stylesheet" href="{% static 'preSets.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css"/>
    <link rel="stylesheet" href="{% static 'css/userAccount.css' %}">
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="img-container"></div>
            <div class="details"></div>
        </div>
    </div>

    <button class="back" onclick="history.back()">
        <i class="iconoir-arrow-left" id="icon"></i>
    </button> 
    <script src="{% static 'js/userAccount.js' %}"></script>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    <!-- <a href="/logout">Logout</a> -->
</body>

</html>