{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Registrar</title>
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <main>
        <div class="container">
            <img src="{% static '..\static\images\main.svg' %}" alt="Principal" class="img">
        </div>

        <div class="content">
            <form action="{% url 'register' %}" method="post" autocomplete="off" class="form">
                {% csrf_token %}

                <div class="title-content">
                    <a href="javascript:history.back()" class="btn-border small">
                        <i class="fa-solid fa-arrow-left"></i>Voltar
                    </a>
                    <h2>Criar conta</h2>
                    <span class="error-message">*obrigatório</span>
                </div>
    
                <!-- Name -->
                <div class="inp-content">
                    <label>Nome<span>*</span></label>
                    <input type="text" id="name" name="name" placeholder="Informe seu nome" />
                </div>
    
                <!-- Email -->
                <div class="inp-content">
                    <label>Email<span>*</span></label>
                    <input type="text" id="email" name="email" placeholder="Informe seu email" />
                </div>
    
                <!-- Password -->
                <div class="inp-content">
                    <label>Senha<span>*</span></label>
                    <input type="password" id="password" name="password" placeholder="Informe uma senha" />
                </div>
    
                <!-- Confirm -->
                <div class="inp-content">
                    <label>Confirme a senha<span>*</span></label>
                    <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirme sua senha" />
                </div>
    
                <div>
                    <p>Ao criar uma conta você concorda com os <a href="{% url 'privacy' %}">Termos de uso</a></p>
                </div>
    
                <button type="submit" class="btn-green" id="submit">Criar conta</button>

                <div class="footer">
                    <p>Já possui uma conta? <a href="{% url 'login' %}">Entrar</a></p>
                </div>
            </form>       
        </div>
    </main>

    {% include 'messages.html' %}

    <script src="{% static 'js/messages.js' %}"></script>
    <script src="{% static 'js/userRegister.js' %}"></script>
</body>
</html>